#All{
    display: flex;
    height: 100vh;
}
.nav-div{
    width: 30%;
    height: 100vh;
    background-color: white;
}
.content{
    width: 100%;
    float: right;
    margin: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1%;
    background-color: white;
}
body{
    background-color: #F0F2F5;
}